{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always"
}
